<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{resources/fragments/layout}"
>
  <head>
    <title>Applications</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{resources/css/style.css}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{resources/css/reset.css}"
    />
  </head>
  <body>
    <main layout:fragment="content">
      <div class="outer">
        <div class="outer-child">
          <h2>User application</h2> 
          <div >
           <tr th:each="appli : ${personApplications}">
             <div>
              <td th:text="${appli.competence.key}"></td>
              <td th:text="${appli.competence.value}"></td>
              <td th:text="${appli.availability.key}"></td>
              <td th:text="${appli.availability.value}"></td>
             </div>
           </tr>
          </div>
         </div>
      </div>
    </main>
  </body>
</html>
