<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{resources/fragments/layout}"
>
  <head>
    <title>Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{resources/css/style.css}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{resources/css/reset.css}"
    />
  </head>
  <body>
    <main layout:fragment="content">
      <div class="outer">
        <div class="outer-child">
          <h3 class="banner">
            Add area of expertise
          </h3>
          <div>
            <form
              th:action="@{/application}"
              th:object="${positionForm}"
              method="post"
            >
              <div>
                <label for="expertise">Expertise:</label>
                <select th:field="*{expertise}">
                  <option th:value="ticket-sales" >Tickets</option>
                  <option th:value="lotteries" >Lotteries</option>
                  <option
                    th:value="roller-coaster-operation"
                  >Roller coaster</option>
                </select>
                <label for="years">Years</label>:<input
                  type="text"
                  th:field="*{years}"
                  id="years"
                />
                <p class="submit">
                  <input class="button" type="submit" name="add" value="Add" />
                </p>
                <p class="submit">
                  <input class="button" type="submit" name="next"value="Next" />
                </p>
            </form>
          </div>
        </div>
        <div class="outer-child">
          <h4>Current expertise: </h4> 
          <div >
           <tr th:each="expertise : ${currentExpertise}">
             <div>
              <td th:text="${expertise.key}"></td>
              <td th:text="${expertise.value}"></td>
             </div>
           </tr>
          </div>
         </div>
      </div>
    </main>
  </body>
</html>
