<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{resources/fragments/layout}"
>
  <head>
    <title>Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{resources/css/style.css}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{resources/css/reset.css}"
    />
  </head>
  <body>
    <main layout:fragment="content">
      <div class="outer">
        <h3>Login</h3>
        <form th:action="@{/login}" th:object="${loginForm}" method="post">
          <div class="form">
            <label for="username">Username</label>:<input
              type="text"
              th:field="*{username}"
              id="username"
            />
            <label for="password">Password</label>:<input
              type="text"
              th:field="*{password}"
              id="password"
            />
          </div>
          <div>
            <a href="/signup">Need an account? </a>
          </div>
          <p class="submit">
            <input class="button" type="submit" value="Login" />
          </p>
        </form>
      </div>
    </main>
  </body>
</html>
