<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{resources/fragments/layout}"
>
  <head>
    <title>Application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{resources/css/style.css}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{resources/css/reset.css}"
    />
  </head>
  <body>
    <main layout:fragment="content">
      <div class="outer">
        <h3 class="banner">All applications</h3>
         Filter:
        <form
          method="POST"
          th:action="@{/recruiter}"
          th:object="${recruiterFilterForm}"
        >
          <label for="expertise">Expertise:</label>
          <select th:field="*{expertise}">
            <option th:value="all">All</option>
            <option th:value="ticket-sales">Tickets</option>
            <option th:value="lotteries">Lotteries</option>
            <option th:value="roller-coaster-operation">Roller coaster</option>
          </select>


          <p class="submit">
            <input class="button" type="submit" name="filter" value="Filter" />
          </p>
        </form>
        <span th:if="${applications == 'Add a filter to see applications'}"
          >Add a filter to see applications</span
        >


        <div
          th:unless="${applications == 'Add a filter to see applications'}"
          class="apps"
        >
          <div th:each="app: ${applications}" class="app-loop">
            <form method="POST" th:action="@{/applic}">
              <button
                type="submit"
                th:text="${app.person.firstName+' '+app.person.lastName}"
                id="page-button"
              ></button>
                <input class="button" type="hidden" name="personName" th:value="${app.person.firstName+' '+app.person.lastName}"></input>
                <input class="button" type="hidden" name="personID" th:value="${app.person.personID}"></input>
              <p class="submit"></p>
            </form>
          </div> 

        <div class="grid-container">
          <div th:if="${prevPage == true}" class="page">
            <form method="POST" th:action="@{/prev}">
              <button
                type="submit"
                value="Previous page"
                name="previous-page"
                id="page-button"
              >
                Previous page
              </button>
            </form>
          </div>
          <div th:if="${nextPage == true}" class="page">
            <form method="POST" th:action="@{/next}">
              <button
                type="submit"
                value="Next page"
                name="next-page"
                id="page-button"
              >
                Next page
              </button>
            </form>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
