<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{resources/fragments/layout}"
>
  <head>
    <title>Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{resources/css/style.css}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{resources/css/reset.css}"
    />
  </head>
  <body>
    <main layout:fragment="content">
      <section class="outer">
        <h3>Signup</h3>
        <form
          th:action="@{/signup}"
          th:object="${createUserForm}"
          method="post"
        >
          <div class="form">
            <label for="first-name">Firstname</label>:<input
              type="text"
              th:field="*{firstName}"
              id="first-name"
              required
            />
            <label for="last-name">Lastname</label>:<input
              type="text"
              th:field="*{lastName}"
              id="last-name"
              required
            />
            <label for="user-name">Username</label>:<input
              type="text"
              th:field="*{username}"
              id="user-name"
              required
            />
            <label for="email">Email</label>:<input
              type="text"
              th:field="*{email}"
              id="email"
              required

            />
            <label for="password">Password</label>:<input
              type="password"
              th:field="*{password}"
              id="password"
              required

            />
            <label for="personNr">Personnumber</label>:<input
              type="text"
              th:field="*{personNr}"
              id="personNr"
              required

            />
          </div>
          <div>
            <a href="/login">Already have an account? </a>
          </div>
          <p class="submit">
            <input class="button" type="submit" value="Signup" />
          </p>
        </form>
      </section>
    </main>
  </body>
</html>
